.gallary-box{
    .gallary-title{
        h1{
            font-size: clamp(3rem, -0.5rem + 4vw, 4rem);
            color: #00446b;
            margin: 0px 0px 10px;
        }
    }
}

.image-box{
    @media screen and (max-width: 768px){
        display: none;
    }
    display: flex;
    gap: 12px;
    .article{
        width: 435px;
        max-height: 430px;
        overflow-y: hidden;
        position: relative;
        color: white;
        img{
            width: 100%;
        }
        .article-overlay{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: end;
            box-sizing: border-box;
            padding: 40px 30px;
            text-align: center;
            background: rgb(0,0,0);
            background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(210,210,210,0) 47%);
            p{
                font-weight: 700;
            }
        }
    }
}

.image-track-box{
    @media screen and (max-width: 768px) {
        display: grid;
    }
    grid-template-rows: 5fr 1fr;
    height: 450px;
    width: 100vw;
    background-color: white;
    display: none;
    .image-track{
        user-select: none;
        display: flex;
        gap: 15px;
        transition: .5s;
        .item{
            position: relative;
            width: 290px;
            overflow-y: hidden;
            box-shadow: 0px 0px 7px 2px rgb(208, 208, 208);
            img{
                width: 100%;
            }
        }
        .article{
            position: relative;
            overflow-y: hidden;
            img{       
                width: 290px;
                height: 409px;
                user-select: none;
            }
            .article-overlay{
                position: absolute;
                color: white;
                width: 100%;
                height: 100%;
                top: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: end;
                background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(210,210,210,0) 47%);
                box-sizing: border-box;
                padding: 2em 2em;
                text-align: center;
                p{
                    font-weight: 700;
                }
            }
        }
    }
    .dot-bar{
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        height: 50px;
        width: 100vw;
        gap: 10px;
        div{
            width: 12px;
            height: 12px;
            background-color: lightgray;
            border-radius: 50%;
        }
        .active{
            background-color: rgb(75, 111, 255);
        }
    }
}

