$dark-accent: #00446b;
$light-accent: #0074b3;
.performance-box-mobile{
    @media screen and (max-width: 900px) {
        display: flex;
    }
    overflow: hidden;
    display: none;
    width: 100%;
    height: 600px;
    background-color: #00324e;
    flex-direction: column;
    h2{
        font-size: 2em;
        color: white;
        margin: .5em .5em 0em .5em;
    }
    position: relative;
    .nav-bar-wrapper{
        width: 100%;
        height: 50px;
        margin-left: 1em;
        overflow-x: scroll;
            .left{
                position: absolute;
                left: 0;
                z-index: 3;
                top: 20px;
            }
            .right{
                position: absolute;
                right: 0;
                z-index: 3;
                top: 20px;
            }
        }
        .mobile-nav-bar{
            width: 475px;
            display: flex;
            list-style-type: none;
            justify-content: space-between;
            align-items: center;
            gap: 1em;
            padding: 0;
            margin: 1em 0;
            transition: .2s;
            .mobile-nav-item{
                color: white;
                display: block;
                font-weight: 600;
                margin: 0;
            }
        }
        .mobile-article-section{
            flex: 1 0 auto;
            margin-top: 10px;
            overflow: hidden;
            position: relative;
            .mobile-article{
                position: absolute;
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-rows: 1fr 1fr;
                img{
                    width: 100%;

                }
                .description{
                    .heading{
                        font-weight: 800;
                    }
                    p{
                        margin: 0px 1em;
                        color: white;
                    }
                }
            }
        }
    }



.performance-box{
    width: 85%;
    @media screen and (max-width: 900px) {
        display: none;
    }
    .performance-heading-bar{
        width: 100%;
        display: flex;
        gap: 20px;
        .heading-accent{
            width: 150px;
            border-bottom: solid;
            border-color: black;
            text-align: end;
            height: 20px;
            p{
                color: black;
                font-weight: 800;
                font-size: .8em;
                margin: 0;
            }
        }
        .performance-heading{
            color: #00446b;
            margin: 0;
            line-height: .8;
            font-size: 3em;
            letter-spacing: 0;
        }
    }
    .main-image{
        position: relative;
        .image-wrapper{

            width: 80%;
            overflow: hidden;
            min-height: 700px;
            img{
                width: 100%;
            }
        }
        .text-box{
            position: absolute;
            z-index: 3;
            top: 50px;
            height: 450px;
            width: 380px;
            background-color: #00324e;
            right: 90px;
            box-sizing: border-box;
            padding: 32px 36px;
            color: white;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            .text-wrapper{
                flex: 1 0 auto;
                display: inline-block;
                overflow: hidden;
                display: flex;
                width: 100%;
                position: relative;
                .text-final{
                    position: absolute;
                    width: 100%;
                    .name{
                        margin: 0;
                        font-size: .8em;
                        font-weight: 700;
                    }
                    .heading{
                        margin: 10px 0;
                        line-height: 1;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 500;
                    }
                    .info{
                        margin: 0;
                        font-size: .8em;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 500;
                        flex: 1 0 auto;
                    }
                }
            }
            .directional{
                display: grid;
                grid-template-columns: 1fr 1fr;
                cursor: pointer;
                height: 45px;
                svg{
                    transform: scale(2);
                }
                p{
                    font-size: .7em;
                    max-width: 100px;
                    font-weight: 700;
                }
                .left{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    p{
                        text-align: left;
                    }
                    &:hover{
                        color: $light-accent;
                    }
                }
                .right{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    justify-content: end;
                    p{
                        text-align: end;
                    }
                    &:hover{
                        color: $light-accent;
                    }
                }
            }
            p, h2{
                margin: 0;
            }
        }
    }
}

.performance-nav{
    margin-left: 170px;
    margin-top: 25px;
    margin-bottom: 17px;
    display: flex;
    gap: 100px;
    list-style: none;
    padding: 0;
}

.overview-nav-button{
    color: black;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.active{
    color: $light-accent !important;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 5px;
}